
.header {
  background-color: black;
  height: 100px;
  width: 100%;
  position: sticky;
  top: 0;
  display: inline-block;
  z-index: 2147483647;
}

.top_icon {
  float: left;
}

.space-one {
  width: 100%;
  height: auto;
  float: left;
}

.spane-two {
  width: 100%;
  height: 40px;
  display: inline-block;
}

.icon {
  height: 40px;
  width: 40px;
  float: left;
}

/* ↓id="nav"の中のulに対してCSSを適用*/
#space-one ul {
  list-style-type: none; /*箇条書きのポッチを消す*/
  text-align:center; /*左右中央寄せは親要素に対して指定*/
  float: left;
}

/* ↓id="nav"の中のulの中のliに対してCSSを適用*/
#space-one ul li { 
  padding: 10px 0;/*余白も指定できる*/
  margin: 10px 0;/*余白も指定できる*/
  vertical-align: middle;/*縦の表示位置も指定できる*/
  float: left;
}

/* ↓id="nav"の中のulに対してCSSを適用*/
#nav ul {
  list-style-type: none; /*箇条書きのポッチを消す*/
  text-align:center /*左右中央寄せは親要素に対して指定*/
}

/* ↓id="nav"の中のulの中のliに対してCSSを適用*/
#nav ul li { 
  display: inline-block;/*inline-blockにします*/
  width: 180px;/*幅も指定できる*/
  padding: 10px 0;/*余白も指定できる*/
  margin: 10px 0;/*余白も指定できる*/
  vertical-align: middle;/*縦の表示位置も指定できる*/
  background: skyblue;/*背景を水色に*/
  font-weight: bold;/*文字を太字に*/
  color:white; /*文字色を白に*/
}

.slide {
  width:1000px;
  margin:10px auto;
  }
  .bx-custom-pager {
  bottom: -50px !important; /* thumbnail 位置調整 */
  text-align:center !important;
  }
  .bx-custom-pager .bx-pager-item {
  width:90px !important; /* thumbnail サイズ調整 */
  height:60px !important; /* thumbnail サイズ調整 */
  margin:0 20px;
  }
  .bx-pager-item img {
  border:1px solid #ffffff;
  }
  .bx-pager-item .active img {
  border:1px solid #cc0000;
  opacity: 0.7;
  }

.history_items {
  width: 350px;
  height: 400px;
  border: 3px solid #cc0000;
  overflow:scroll;
}

.history_items #history_title {
  width: 350px;
  height: 50px;
  border:1px solid #cc0000;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.twitter_items {
  width: 350px;
  height: 400px;
  border: 3px solid dodgerblue;
  overflow:scroll;
}

.twitter_items #twitter_tittle {
  width: 350px;
  height: 50px;
  border:1px solid dodgerblue;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.twitter_items #twitter_button {
  display: inline-block;
  margin-left: 10px;
}

footer {
  background-color: darkgray;
  width: 100%;
  height: auto;
  display: block;
  margin-top: 3px;
  z-index: 2147483647;
}
